In [1]:
import yfinance as yf
import pandas as pd

In [2]:
gme_data = yf.download("GME", start="2010-01-01", end="2024-01-01")

[*********************100%%**********************]  1 of 1 completed

In [3]:
gme_data.reset_index(inplace=True)

In [4]:
gme_data.head()

        Date    Open    High     Low   Close  Adj Close     Volume
0 2010-01-04  5.5175  5.7375  5.5000  5.7250   3.854643   26702800
1 2010-01-05  5.7275  5.9350  5.7250  5.8800   3.959005   21269600
2 2010-01-06  5.8650  6.0250  5.8050  6.0075   4.044851   21471200
3 2010-01-07  5.0025  5.2925  4.8550  5.1150   3.443929  164761200
4 2010-01-08  5.1600  5.3075  5.0575  5.0725   3.415315   47872400