In [1]:
import yfinance as yf
import pandas as pd

In [2]:
tesla_data = yf.download("TSLA", start="2010-01-01", end="2024-01-01")

[*********************100%%**********************]  1 of 1 completed

In [3]:
tesla_data.reset_index(inplace=True)

In [4]:
tesla_data.head()

        Date      Open      High       Low     Close  Adj Close     Volume
0 2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
1 2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2 2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
3 2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
4 2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500